# This .gitignore file is for locally-rendered Jekyll sites.
# Locally rendered website
_site
# Other Jekyll files
.sass-cache
.jekyll-metadata

# Locking Ruby library version creates a ton of headaches for local preview
# and GitHub pages deploy
Gemfile.lock
